[submodule "third_party/nvbandwidth"]
	path = third_party/nvbandwidth
	url = https://github.com/hmacudath79/nvbandwidth.git
[submodule "third_party/libvhost-user"]
	path = third_party/libvhost-user
	url = https://github.com/hmacudath79/libvhost-user.git
